<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Triforce Search - Results</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
<div class="container">

    <h1 style="margin:10px;"><%= output %></h1>
        <a href="/" style="margin:10px">New search</a>
<br/><br/>
<!--twitter-->
    <div class="row">
<% for(var i=0; i < twitter.length; i=i+2) { %>
<div class="card col-sm-3" style="width: 20rem; border:none; margin-bottom:35px">
    <% if(twitter[i].media_link != 'null'){%>
    <div class="text-center">
    <img class="card-img-top img-thumbnails" height="250px" width="250px" src="<%= twitter[i].media_link %>" alt="Card image cap"><br>
    </div>
    <% } else {%>
    <div class="text-center">
        <img class="card-img-top img-thumbnails" style="opacity: .63" height="250px" width="250px" src="/images/twitter.jpg" alt="Card image cap"> <br>
    </div>

    <%}%>
    <div class="card-block" style=" padding: 0;">
        <p class="card-text" style="margin-top:7px"><%= twitter[i].text %><br>
            <span class="card-title" style="font-weight: bold;">via twitter</span><br>
</p>

        <a href="<%= twitter[i].link %>" class="btn btn-primary" style="padding-top: 3px;padding-bottom: 3px;width: 100%;">Direct Link</a>

    </div>
</div>
    <div class="card col-sm-3" style="width: 20rem; border:none; margin-bottom:35px">
        <%
            if(twitter[i+1] == null) {
                console.log("sleeplis");
            }
            else if(twitter[i+1].media_link != 'null'){ %>
        <div class="text-center">
            <img class="card-img-top img-thumbnails" height="250px" width="250px" src="<%= twitter[i+1].media_link %>" alt="Card image cap"><br>
        </div>
        <div class="card-block" style="padding: 0;">
            <p class="card-text" style="margin-top:7px"><%= twitter[i+1].text %><br>
                <span class="card-title" style="font-weight: bold;">via twitter</span><br></p>
            <a href="<%= twitter[i+1].link %>" class="btn btn-primary" style="padding-top: 3px;padding-bottom: 3px;width: 100%;">Direct Link</a>
        </div>

        <% } else {%>

        <div class="text-center">
            <img class="card-img-top img-thumbnails" style="opacity: .63" height="250px" width="250px"  src="/images/twitter.jpg" alt="Card image cap"> <br>
        </div>
        <div class="card-block" style="padding: 0;">
            <p class="card-text" style="margin-top:7px"><%= twitter[i+1].text %><br>
                <span class="card-title" style="font-weight: bold;">via twitter</span><br></p>
            <a href="<%= twitter[i+1].link %>" class="btn btn-primary" style="padding-top: 3px;padding-bottom: 3px;width: 100%;">Direct Link</a>
        </div>
        <%}%>

    </div>
<% } %>
    </div>
</div>

<br><br>
<!--instagram-->
<div class="container">
    <div class="row">
        <% for(var i=0; i < insta.length; i=i+2) { %>
        <div class="card col-sm-3" style="width: 20rem; border:none">
            <% if(insta[i].preview != 'null'){%>
            <div class="text-center">
                <img class="card-img-top img-thumbnails"  height="250px" width="250px" src="<%= insta[i].preview %>" alt="Card image cap">
            </div>
            <% }%>
            <div class="card-block" style="padding:0px">
                <!--<h4 class="card-title">Card title</h4>-->
                <p class="card-text" style="margin:10px 0px"><%= insta[i].caption %></p>
            </div>
        </div>
        <div class="card col-sm-3" style="width: 20rem; border:none">
            <%
            if(insta[i+1] == null) {
                console.log("sleeplis");
            }
            else if(insta[i+1].preview != 'null'){ %>
            <div class="text-center">
                <img class="card-img-top img-thumbnails" height="250px" width="250px" src="<%= insta[i+1].preview %>" alt="Card image cap">
            </div>

            <div class="card-block" style="padding:0px" >

                <p class="card-text" style="margin:10px 0px"><%= insta[i+1].caption %></p>

            </div>
            <% }%>
        </div>
        <% } %>
    </div>
</div>
<br><br>
<!--facebook-->
<div class="container">
    <div class="row">



        <%
        var limit = 10;
        if(facebook.length < 10){
            limit = facebook.length;
        }
        for(var i=0; i < limit; i=i+2) { %>
        <div class="card col-sm-3" style="width: 20rem; border:none">

            <div class="card-block" style="padding: 0px; text-align: center; margin-bottom:50px">
                <img class="card-img-top img-thumbnails" style="opacity: .63" height="250px" width="250px"  src="/images/facebook.png" alt="Card image cap"> <br>
                <h4 class="card-title"><br><%= facebook[i].name%></h4>
                <a href="<%= facebook[i].id %>" class="btn btn-primary" style="padding-top: 3px;padding-bottom: 3px;width: 100%;">Direct Link</a>
            </div>



        </div>
        <div class="card col-sm-3" style="width: 20rem; border:none">
            <%
            if(facebook[i+1] == null) {
                console.log("sleeplis");
            }
            else%>


            <div class="card-block" style="padding:0px; text-align: center; margin-bottom:50px">
                <img class="card-img-top img-thumbnails" style="opacity: .63" height="250px" width="250px"  src="/images/facebook.png" alt="Card image cap"> <br>
                <h4 class="card-title"><br><%= facebook[i+1].name%></h4>
                <a href="<%= facebook[i+1].id %>" class="btn btn-primary" style="padding-top: 3px;padding-bottom: 3px;width: 100%;">Direct Link</a>
            </div>

        </div>
        <% } %>
    </div>
</div>



<%
    console.log(twitter.length);
 console.log(insta.length);
 console.log(facebook.length);
 %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>